#myid ul li{
    display: flex;
    align-items: center;
    margin: 3px 0;
    padding: 10px 10px;
    transition: .2s linear;
}
#myid ul li:hover{
   color: gray;
   border-left: 1px solid gainsboro;
}
#myid ul{
    margin-top: 20px;
}
#divid{
    border-top: 1px solid gainsboro;
}
.dropdown{
    display:block !important;
}
#div{
    visibility: hidden;
    display:none;
}
@media(max-width:850px){
    #div{
       visibility: visible;
       display:flex;
       justify-content: space-between;
    }
    .navbare{
        position: fixed;
        transition: 0.6s linear;
       display: none;
       visibility: hidden;
    }
    .navbare.acti{
        position: fixed;
       display: block;
       visibility: visible;
    }
}