.myid{
    border-right: 1px solid gainsboro;
}
@media(max-width:850px){
.myid{
    position:fixed;
    top: 0;
    background-color: white;
    width: 100%;
   border-right: 2px solid gainsboro;
}
#divid{
    display: none;
}
#contenu{
    display: none;
}
}